.event-detail-container
    position: absolute
    background-color: rgba(1,0,0,0.6 )
    top: 20px
    right: 20px
    color: #fff
    width: 400px
    min-height: 140px
    display: flex
    flex-direction: column
    justify-content: space-around
    padding: 10px 12px
    font-family: $raleway
    font-size: 14px
    border-radius: 12px